<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lesson 2</title>
</head>
<body>
    <div id="root">
        <!-- динамические атрибуты       -->
        <button :[some_attr.name]="some_attr.value">Click me</button>
        <br>
        <br>
        <button v-bind="objOfAttr">Btn with object of attr</button>
        <br>
        <br>
        <!-- глобальный компонент       -->
        <global-btn></global-btn>
        <br>
        <br>
        <!-- локальный компонент       -->

        <locale-btn :label="labelForBtn" input-type="number" @click.native="showData" @my-event="getInputData"></locale-btn>

        <p>
            <span>Это пришло с дочернего компанента</span>
            <br>
            <span>{{ inputFromChild }}</span>
        </p>

        <!-- List of guests       -->

        <guests></guests>

    </div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="guests.js"></script>
<script src="components/CustomBtn.js"></script>
<script src="components/LocalBtn.js"></script>
<script src="components/Guests/GuestItem.js"></script>
<script src="components/Guests/Guests.js"></script>

<script src="main.js"></script>
</body>
</html>